---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Custom styles for logos in gallery
img[alt="JSC EA Logo"] {
  max-height: 200px !important;
  width: auto !important;
  object-fit: contain !important;
}
img[alt="ICRA 2023 Logo"] {
  max-height: 200px !important;
  width: auto !important;
  object-fit: contain !important;
}
img[alt="ICRA 2024 Logo"] {
  max-height: 200px !important;
  width: auto !important;
  object-fit: contain !important;
}
img[alt="Scitech Logo"] {
  max-height: 200px !important;
  width: auto !important;
  object-fit: contain !important;
}

.gallery figure:last-child img {
  max-height: 30px !important;
  width: auto !important;
}
